{% extends 'Freelbase.html' %}
{% block content %}
<form method='POST' enctype='multipart/form-data'>
{% csrf_token %}
<table>
{% for field in form %}
      <tr><td>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </td></tr>
    {% endfor %}
<tr>
<td><input type='submit' value='Войти'></td>
</tr>
</table>
</form>
{% endblock %}